	<div class='panel author' itemscope="" itemtype="http://schema.org/Person">
        <div class='circular-img'><img class="author-img" itemprop="image" src="/images/sumit.jpg" alt="Sumit Sarkar"></div>
        <h2><span itemprop="name">Sumit Sarkar</span></h2>
        <h3><span itemprop="jobTitle">Designer &amp; Linux System Administrator</span></h3>
        <p><span>Connect with the Author:<span> <a rel="me" name="google_profile" itemprop="url" href="https://plus.google.com/116690828010534377774?rel=author" target="_blank" title="Follow Me on Google+">Google+</a> | <a rel="me" name="twitter_profile" itemprop="url" href="https://twitter.com/sumitdurd3n" target="_blank" title="Follow Me on Twitter">Twitter</a></p>
        <div itemprop="description">
          <p>Sumit Sarkar is a Web Designer and a Linux Server Admin. He is extremely eager to learn new things and doing so everyday.</p>
        </div>
    </div>